<!-- <div class="modal fade" role="dialog"> -->

	<div class="modal-header">
		<button type="button" class="close dismiss" data-dismiss="modal">&times;</button>
		<h3>Edit note</h3>
	</div>

	<div class="modal-body">
		<div class="alert alert-danger invisible">&nbsp;</div>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label">Title:</label>
				<div class="controls">
					<input type="text" name="title" value="{{ title }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Text:</label>
				<div class="controls">
					<textarea name="text" style="height: 100px">{{ text }}</textarea>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
		<div class="pull-left progress-indicator invisible">
			<div class="pull-left progress progress-striped active" style="width: 100px; margin-right: 10px">
				<div class="bar bar-success" style="width: 100%;"></div>
			</div>
			<span>Saving...</span>
		</div>
		<button class="btn  dismiss" data-dismiss="modal">Close</button>
		<button class="btn btn-primary submit">Apply</button>
	</div>
<!-- </div> -->
