<div class="note-details">
	
	<h3>{{ title }}</h3>
	
	<p class="content">{{ text }}</p>
	
	
	<div style="float: right; margin-top: 10px" class="note-toolbar">
	
		<div style="" class="edit-toolbar">
			<button class="btn edit-note-button">Edit note</button>
		</div>
	
		<div class="save-toolbar hide">
	
			<div class="pull-left progress-indicator invisible" style="padding: 5px 10px">
				<div class="progress progress-striped active" style="width: 100px; margin-right: 10px">
					<div class="bar bar-success" style="width: 100%;"></div>
				</div>
			</div>
			<button class="btn cancel-note-button">Cancel</button>
			<button class="btn btn-primary save-note-button submit">Save note</button>
		</div>
	</div>
	
	<p><a href="/examples/" class="notes-list">All notes</a></p>
		
	{% if related|length > 0 %}

	<p>Related:</p>
	<ul>
		{% for r in related %}
		<li><a href="{{ r }}">{{r}}</a>
		{% endfor %}
	</ul>
	{% endif %}
	
</div>