@import "../../../public/less/common.less";

ul.note-list {
	li.note-item {
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
		margin-bottom: 10px;	
		padding: 10px;
	}
	
	li.note-item.hover {
		background-color: #eee;
		cursor: pointer;
	}
}

#refresh-counter {
	float: right;
	padding: 10px;
}


.note-details {
	
	h3 {
		input {
			font-size: 24px;
			line-height: 40px;
			width: 100%;
			height: auto;
			font-weight: bold;
			color: black;
			.box-sizing( border-box );
		}		
	}
	
	.btn {
		min-width: 100px;
		margin-left: 10px;
	}
	
	.content {
	
		width: 100%;
		height: 100%;
	
		textarea {
			width: 100%;
			min-height: 100px;
			.box-sizing( border-box );
		}
	}
	
	
}