<!DOCTYPE html>
<html>
<head>
	<title>Dynamic SWIG test</title>
	<link rel="stylesheet" type="text/css" href="/x-app-bundles/example/notes.css">
	
	{% include '/require-includes.html' %} <!-- INCLUDE REQUIRE AND REQUIRE CONFIG -->
	<script src="{{_dist}}/x-app-bundles/example/main.js"></script> <!-- AMD BUNDLE -->

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="javascript:;" data-route="/examples/">Example Notes</a>
		  <div class="nav-collapse collapse">
			<ul class="nav pull-right">
			  <li class="active"><a href="javascript:;" data-route="/example/">Notes</a></li>
			  <li><a href="javascript:;" data-route="/example/notes/new">New Note</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </div>
	</div>
	
	<div class="container" style="padding-top: 60px">
	
	
		<div class="row">
			<div id="refresh-counter"></div>
			<div class="span12" id="main-content">
				
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				{% include '/copyright-include.html' %}
			</div>
		</div>
	</div> <!-- /container -->
    
    
    
    <div id="main-progress-indicator"></div>
    
</body>
</html>
