@import "/public/bootstrap/less/bootstrap.less";

body {
	overflow-y: scroll;
}

.border-box {
	.box-sizing( border-box );
}

.copyright {
	font-size: 10px;
	text-align: center;
	padding-top: 20px;
}

input.error, select.error, textarea.error {
	border: 1px solid #9D261D;
	box-shadow: 0 0 5px #9D261D;
}

.modal-backdrop, .modal-backdrop.fade.in
{
	opacity: 0.6;
}

.modal
{
	/* border: 10px solid rgba(255, 255, 255, 0.3); */
	border: 10px solid rgba(0, 0, 0, 0.3);
	.box-shadow( 0 0 30px #000 );
	
	.modal-header {
		background-color: #ddd;
	}
	
	.modal-footer {
		background-color: transparent;
	}
	
	.alert {
		padding: 5px 10px;
		margin: 0 0 15px 0;
	}
}

.modal-confirm,
.modal-alert 
{
	.modal-footer {
		
		a.modal-ok {
			margin-left: 10px;
		}
	}
	
	.modal-header {
		
		h3 {
			font-size: 22px;
		}
	}
	
	.modal-body {
		font-size: 17px;
		line-height: 160%;
		padding: 30px 15px;
	}
}

.invisible {
	visibility: hidden;
}


.auto-image
{
	position: absolute;
	visibility: hidden;
	left: -10000px;
	top: -10000px;
	width: auto;
	height: auto;
	min-height: 0 !important;
	min-width: 0 !important;
	max-height: none !important;
	max-height: none !important;
	display: inline-block;
}

.tooltip {
	z-index: 100 !important;
}

.field-error-tooltip {
	
	z-index: 100 !important;
	
	.opacity(100) !important;

	.tooltip-inner
	{
		background-color: @red;
		color: white;	
		font-size: 12px;
		.box-shadow( 0 0 3px rgba( 0, 0, 0, 0.3 ) );	
	}
}

.field-error-tooltip-modal {
	z-index: 1200 !important;
}

.field-error-tooltip-right {

	.tooltip-arrow
	{
		border-right-color: @red !important;
	}
}

.field-error-tooltip-top {

	.tooltip-arrow
	{
		border-top-color: @red !important;
	}
}

.field-error-tooltip-bottom {

	.tooltip-arrow
	{
		border-bottom-color: @red !important;
	}
}

.field-error-tooltip-left {

	.tooltip-arrow
	{
		border-left-color: @red !important;
	}
}

.modal-error-tooltip {
	
	z-index: 2000 !important;
}

input.error {
	border: 1px solid @red;
	box-shadow: 0 0 5px @red;
}	

.dnd-feedback {
	background-color: #ddd;
	.box-shadow( 0 0 10px #333 );
}

.navbar .navbar-text
{
	line-height: 38px; // as opposed to 40 because I am crazy :)
}

.callout {

    position: relative;
    margin: 18px 0;
    padding: 18px 20px;
    background-color: @infoBackground;
    /* easy rounded corners for modern browsers */
    .border-radius(6px);
    color: @infoText;
    
    .notch {

		position: absolute;
	    top: -10px;
	    left: 20px;
	    margin: 0;
	    border-top: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid @infoBackground;
	    padding: 0;
	    width: 0;
	    height: 0;
	    /* ie6 height fix */
	    font-size: 0;
	    line-height: 0;
	     /* ie6 transparent fix */
	    _border-right-color: pink;
	    _border-left-color: pink;
	    _filter: chroma(color=pink);
	}
	
	.notch-down {

		position: absolute;
	    bottom: -10px;
	    left: 20px;
	    margin: 0;
	    border-top: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid @infoBackground;
	    padding: 0;
	    width: 0;
	    height: 0;
	    /* ie6 height fix */
	    font-size: 0;
	    line-height: 0;
	     /* ie6 transparent fix */
	    _border-right-color: pink;
	    _border-left-color: pink;
	    _filter: chroma(color=pink);
	}

}

.border-callout { border: 1px solid @infoBorder; padding: 17px 19px; }
.border-callout .border-notch { border-bottom-color: @infoBorder; top: -11px; }
.border-callout .border-notch-down { border-top-color: @infoBorder; bottom: -11px; }

#main-progress-indicator {
	position: absolute;
	left: 50%;
	width: 150px;
	padding: 5px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	.box-sizing( border-box );
	margin-left: -75px;
	top: -100px;
	background-color: #ffd893;
	border: 1px solid #7d4b00;
	z-index: 2000;
}


.view-load-progress
{
	max-width: 250px;
	margin: 50px auto;
	text-align: center;
	
	.view-load-message {
		text-align: center;
		margin-top: 10px;
	}
}

.view-error {
	.alert {
		margin-top: 50px;
	}
	
	.reload {
		margin-left: 10px;
	}
}

.stack-toolbar {

	background-color: #eee;
	.border-radius(3px);

	.btn-toolbar {
		float: right;
		margin: 6px;
		position: relative;
		z-index: 100;
		margin-left: 20px;
		background-color: #EEE;
		
		a {
			line-height: 16px;
		}
	}

	.pagination {
	
		height: auto;
		margin: 6px;
	
		float: right;
		
		ul {
		
			line-height: 0;
		
			li {
			
				display: inline-block;
				
				a {
					line-height: 22px;
					padding: 0 8px;
					
					i {
						.opacity(70);
					}
				}	
			}
			
			li.disabled {
				a {
					
					i {
						.opacity(20);
					}
				}
			}
		}
	}
	
	.breadcrumb {
		background-color: transparent;
		white-space: nowrap;
	}
	
	.breadcrumb li a.active {
		/* font-weight: bold; */
	}
	
	.breadcrumb .dropdown-menu {
	
		min-width: 60px;
	
		li {
		
			display: block;
			text-shadow: none;
			padding: 0 5px;
			
			a {
				font-size: 12px;
				line-height: 120%;
				padding: 3px 10px;
			}
		}
	}
		
	.breadcrumb li.left .dropdown-menu {
		left: -12px;
	}
	
	.breadcrumb li.right .dropdown-menu {
		right: -12px;
		left: auto;
	}
	
	.breadcrumb .dropdown-menu::before {
		position: absolute;
		top: -7px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #CCC;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}
	
	.breadcrumb .dropdown-menu::after {
		position: absolute;
		top: -6px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid white;
		border-left: 6px solid transparent;
		content: '';
	}
	
	.breadcrumb li.left .dropdown-menu::before {
		left: 9px;
	}
	
	.breadcrumb li.left .dropdown-menu::after {
		left: 10px;
	}
	
	.breadcrumb li.right .dropdown-menu::before {
		right: 9px;
	}
	
	.breadcrumb li.right .dropdown-menu::after {
		right: 10px;
	}
}
