<!DOCTYPE html>
<html>
<head>
	<title>Dynamic SWIG test</title>
	<link rel="stylesheet" type="text/css" href="/x-app-bundles/test/test.css">
	
	<!-- <script data-main="{{_dist}}/js/test/main" src="/js/_requirejs/require.min.js"></script> -->
	<script src="/js/_requirejs/require.min.js"></script>
	<script src="/js/require-config.js"></script>
	<script src="{{_dist}}/x-app-bundles/test/main.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="javascript:;" data-route="home">Project name</a>
		  <div class="nav-collapse collapse">
			<ul class="nav pull-right">
			  <li class="active"><a href="javascript:;" data-route="home">Home</a></li>
			  <li><a href="javascript:;" data-route="about">About</a></li>
			  <li><a href="javascript:;" data-route="contact">Contact</a></li>
			  <li><a href="javascript:;" data-alert="Say something funny" data-alert-title="This is an alert">Alert</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </div>
	</div>
	
	<div class="container" style="padding-top: 60px">
	
	
		<div class="row">
			<div class="span12" id="main">
				<h1>HELLO : {{ req.ip }} secure: {{ req.secure }}</h1>
				<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
				<h3>Try test client routes; notice the change in the URL</h3>
				<p>
				<a href="javascript:;" data-route="">Route default</a> | <a href="javascript:;" data-route="one">Route one</a> | <a href="javascript:;" data-route="two">Route two</a>
				</p>
				<h4 id="route-feedback"></h4>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				{% include '/copyright-include.html' %}
			</div>
		</div>
	</div> <!-- /container -->
    
    
    
</body>
</html>
